
@{
    ViewBag.Title = "DangKi";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<section class="ftco-section ftco-cart">
    <div class="container">
        <table align="center">
            <h3 style="text-align:center">Đăng kí tài khoản</h3>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
        <form>
            <p style="margin-left: 30%">
                <label style="margin-right: 8px">Họ tên khách hàng: </label>
                @Html.TextBox("HotenKH", null, new { style = "width: 250px; height: 40px; margin: 5px; border-radius: 5px; background-color: #c8c8c8 ", placeholder = "Nhập họ tên" })
                @ViewData["Loi1"]
            </p>
            <p style="margin-left: 34%">
                <label style="margin-right: 8px">Tên tài khoản: </label>
                @Html.TextBox("TenDN", null, new { style = "width: 250px; height: 40px; margin: 5px; border-radius: 5px; background-color: #c8c8c8 ", placeholder = "Nhập tên tài khoản" })
                @ViewData["Loi2"]
            </p>
            <p style="margin-left: 37%">
                <label style="margin-right: 8px">Mật khẩu: </label>
                @Html.Password("MatKhau", null, new { style = "width: 250px; height: 40px; margin: 5px; border-radius: 5px; background-color: #c8c8c8 ", placeholder = "Nhập mật khẩu" })
                @ViewData["Loi3"]
            </p>
            <p style="margin-left: 31%">
                <label style="margin-right: 10px">Mật khẩu nhập lại: </label>
                @Html.Password("MatKhauNhapLai", null, new { style = "width: 250px; height: 40px; margin: 5px; border-radius: 5px; background-color: #c8c8c8 ", placeholder = "Nhập lại mật khẩu" })
                @ViewData["Loi4"]
            </p>

            <p style="margin-left: 39%">
                <label style="margin-right: 8px">Email: </label>
                @Html.TextBox("Email", null, new { style = "width: 250px; height: 40px; margin: 5px; border-radius: 5px; background-color: #c8c8c8 ", placeholder = "Nhập email" })
                @ViewData["Loi5"]
            </p>

            <p style="margin-left: 38%">
                <label style="margin-right: 8px">Địa chỉ: </label>
                @Html.TextBox("DiaChi", null, new { style = "width: 250px; height: 40px; margin: 5px; border-radius: 5px; background-color: #c8c8c8 ", placeholder = "Nhập địa chỉ" })
                @ViewData["Loi6"]
            </p>

            <p style="margin-left: 34%">
                <label style="margin-right: 8px">Số điện thoại: </label>
                @Html.TextBox("SDT", null, new { style = "width: 250px; height: 40px; margin: 5px; border-radius: 5px; background-color: #c8c8c8 ", placeholder = "Nhập số điện thoại" })
                @ViewData["Loi7"]
            </p>


            <p style="margin-left: 48%">
                <input type="submit" value="Đăng kí" style="margin-right: 40px; border-radius: 5px; background-color: lightblue; height: 40px">
            </p>

        </form>

            }

        </table>

    </div>

</section>

